body {
  overflow-x: hidden;
  background-color: ghostwhite;
  text-align: center;
}
.header {
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: aqua;
  z-index: 1;
}
ul {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
}
li {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
li:hover {
  background-color: white;
  height: 0.5vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: arial;
  font-size: 1.5vw;
  color: black;
}
.input {
  font-size: 1vw;
}
.holder {
  position: absolute;
  top: 20%;;
  height: 60%;
  width: 50%;
}
h1 {
  position: relative;
  font-family: arial;
  font-size: 2vw;
  top: 20%;
}
input[type=text], input[type=password] {
  position: relative;
  top: 5px;
  padding: 1%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25%;
  height: 8%;
}
button {
  position: relative;
  top: 20px;
  background-color: steelblue;
  color: white;
  padding: 10px;
  margin: 8px 0 100px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 30%;
  font-family: arial;
  font-size: 1.5vw;
  width: 15%;
  height: 13%;
}
button:hover {
  opacity: 0.8;
}
.map {
  position: relative;
  top: 25%;
  left: 57%;
  width: 30%;
  height: 70%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: 0 0 1px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: lavender;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.holder1 {
  position: relative;
  top: 25%;
  left: 50%;
  height: 50%;
}
.dropdown {
  margin: 13px;
  color: black;
  font-family: arial;
  font-size: 1.5vw;
  display: inline-block;
}
.dropdown-content {
  width: auto;
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
  background-color: turquoise;
}
.footer-link {
  font-size: 25px;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
  margin-top: 100px;
}
.copyright {
  color: #EAF6F6;
  font-size: 1.75rem;
  padding: 20px 0;
  text-align: center;
}
