html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: ghostwhite;
  text-align: center;
}

.header {
  flex: 1;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: aqua;
  z-index: 1;
}

.header a {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  padding: 1.5vw 0.8vw;
  text-decoration: none;
  font-family: arial;
  font-size: 1.3rem;
  color: black;
  width: fit-content;
}

.header a:hover {
  color: ghostwhite;
  text-decoration: overline;
  text-decoration-thickness: 5px;
}

.middle-container {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.map {
  flex: 50%;
  overflow: hidden;
  position: relative;

}


.holder {
  flex: 50%;
  top: 20%;
  height: 100%;
  width: 100%;
}

h1 {
  position: relative;
  font-family: arial;
  font-size: 2rem;
  top: 20%;
}
input[type=text], input[type=password] {
  position: relative;
  top: 5px;
  padding: 1%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25%;
  height: 8%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: lavender;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.footer-link {
  font-size: 25px;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
  margin-top: 100px;
}
.copyright {
  color: #EAF6F6;
  font-size: 1.75rem;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }

  .header a {
    flex-basis: 50%;
  }

  .holder, .map {
    flex: 100%
  }

}
