body {
  text-align: center;
}
.header {
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: aqua;
  z-index: 1;
}
ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
}
li {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
li:hover {
  background-color: white;
  height: 0.5vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: arial;
  font-size: 1.5vw;
  color: black;
}
.container {
  margin: 200px auto 100px auto;
  height: auto;
  width: 47%;
  background-color: white;
  box-shadow: 0 0 1px;
}
.me-img {
  position: relative;
  height: auto;
  width: 20%;
  border-radius: 100px;
  padding: 25px;
}
h1 {
  font-family: verdana;
  color: steelblue;
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 50px;
}
h2 {
  position: relative;
  top: 5%;
  font-size: 5vw;
  font-family: arial;
  color: steelblue;
}
h3 {
  font-family: 'Sacramento', cursive;
  font-size: 2.2rem;
  margin: 30px 10px 20px;
  color: steelblue;
}
.dropdown {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: arial;
  font-size: 1.5vw;
  color: black;
}
.dropdown-content {
  width: auto;
  display: none;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}
.column {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/**FOOTER**/
.footer-link {
  font-size: 25px;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}
.site-link {
  font-size: 1rem;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
  font-family: verdana;
}
.site-link:hover {
  color: aqua;
}
.description {
  font-size: 1rem;
  font-family: verdana;
  color: black;
  line-height: 2;
  margin: 10px 70px 30px;
}
.footer-link:hover {
  color: #EAF6F6;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 50px;
}
.copyright {
  color: #EAF6F6;
  font-size: 1.75rem;
  padding: 20px 0;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  background-color: turquoise;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: lavender;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
