html, body {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

.header {
  flex: 1;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: aqua;
  z-index: 1;
}

.header a {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  padding: 1.5vw 0.8vw;
  text-decoration: none;
  font-family: arial;
  font-size: 1.3rem;
  color: black;
  width: fit-content;
}

.header a:hover {
  color: ghostwhite;
  text-decoration: overline;
  text-decoration-thickness: 5px;
}

h1 {
  font-family: verdana;
  color: steelblue;
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 50px;
}

h2 {
  position: relative;
  top: 5%;
  font-size: 5vw;
  font-family: arial;
  color: steelblue;
}

h3 {
  font-family: 'Sacramento', cursive;
  font-size: 2.2rem;
  margin: 30px 10px 20px;
  color: steelblue;
}

.row {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: space-evenly
}

.column {
  flex: 50%;
  margin-bottom: 50px;
}
.column--hidden {
  flex: 50%;
  margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/**FOOTER**/
.footer-link {
  font-family: verdana;
  font-size: 1rem;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}

.site-link {
  font-size: 1rem;
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
  font-family: verdana;
}

.site-link:hover {
  color: aqua;
}

.description {
  font-size: 1rem;
  font-family: verdana;
  color: black;
  line-height: 2;
  width: 80%;
  margin: 10px auto;
}

.footer-link:hover {
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 50px;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.75rem;
  padding: 20px 0;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: lavender;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }

  .header a {
    flex-basis: 50%;
  }

  .column {
    flex: 100%;
  }

  .column--hidden {
    visibility: hidden;
  }

  .myprojects {
    margin: 250px auto 0 auto;
  }
}
